/* Algemeen reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ab0b0b;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    background: #33333393;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Navigatie */
nav {
    background: #f4f4f4;
    padding: 20px;
    width: 200px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 10px;
    transition: background 0.3s, color 0.3s;
}

nav ul li a:hover {
    background: #333;
    color: #fff;
    border-radius: 5px;
}

/* Main */
main {
    display: flex;
    flex: 1;
}

.content {
    flex: 1;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}

/* Centered content */
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* Footer */
footer {
    background: #33333393;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

/* Form */
form div {
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="date"],
form input[type="number"],
form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 10px 15px;
    border: none;
    background: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background: #555;
}

/* Message  */
.message {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f4f4f4;
    color: #333;
    text-align: center;
}

/* Table  */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background: #333;
    color: #fff;
}

tr:nth-child(even) {
    background: #f4f4f4;
}

tr:hover {
    background: #e2e2e2;
}

/* links */
.action-link {
    text-decoration: none;
    color: #007BFF;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.action-link:hover {
    background-color: #ff0000; 
    color: #FFFFFF; 
}

/* Afbeelding in de dashboard  */
.content img {
    max-width: 20%; 
    height: auto; 
    display: block;
    margin: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}